<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72665475722-3mkld3s4arkl4bcopuvofoekkuo3dp0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72665475722-3mkld3s4arkl4bcopuvofoekkuo3dp0b</string>
	<key>API_KEY</key>
	<string>AIzaSyCT6xWnfEfi0JYCsJRdJc0I3XXfCcdWgIY</string>
	<key>GCM_SENDER_ID</key>
	<string>72665475722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xploziph.exit</string>
	<key>PROJECT_ID</key>
	<string>exit-57b4d</string>
	<key>STORAGE_BUCKET</key>
	<string>exit-57b4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72665475722:ios:2f203332d270f25260db73</string>
	<key>DATABASE_URL</key>
	<string>https://exit-57b4d.firebaseio.com</string>
</dict>
</plist>